<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>格子桌布</title>
	<script src="./static/vue-2.6.10.min.js"></script>
	<script src="./static/color.js"></script>
	<style>
		*{--base_h: 32px}
	    .title{font-weight:bold}
		.tool{margin-bottom: 10px}
	    .note{margin: 10px 0}
	    .my_label .my_input{margin:0 20px 0 5px;width: 60px}
	    .my_input{height:var(--base_h,36px);border:var(--bd_c,#ccc) solid thin;outline: none;padding:0 5px;font-size:14px}
	    .my_input:focus,.my_input:hover{border-color:var(--hover_bd_c,#f12345);}
	    input[type=color]{margin-left: 5px;height: var(--base_h,36px);vertical-align: -6px;}
	</style>
</head>
<body>
	<div id="container">
		<p class="title">画格子桌布</p>
		<div class="tool">
			<div class="note">格子桌布，可以通过简单的设置进行绘制。只需要设置浅色就行，深色是计算出来的。</div>
			<label class="my_label">画布宽度<input type="text" class="my_input" v-model="width"></label>
			<label class="my_label">画布高度<input type="text" class="my_input" v-model="height"></label>
			<label class="my_label">格子尺寸<input type="text" class="my_input" v-model="size"></label>
			<label class="my_label">选择浅色<input type="color" v-model="basicColor"></label>
		</div>
		<canvas ref="canvas"></canvas>
	</div>
	<script>
		const vm = new Vue({
			el:'#container',
			data:function() {
				return {
					basicColor:"#ffbdbd",
					width:820,
					height:620,
					size:20,
					canvas:null,
					ctx:null,
				}
			},
			mounted(){
				this.canvas = this.$refs.canvas
				this.ctx = this.canvas.getContext("2d");
				this.draw()
			},
			computed:{
				darkColor(){
					return net.brehaut.Color(this.basicColor).darkenByRatio(0.2).toCSS()
				}
			},
			watch:{
				basicColor(){
					this.draw()
				},
				width(){
					this.draw()
				},
				height(){
					this.draw()
				},
				size(){
					this.draw()
				},
			},
			methods:{
				draw(){
					let _this = this,size= this.size,single = size*2
					this.canvas.width=single
					this.canvas.height=single
					this.drawRect(this.ctx,0,0,size,size,this.darkColor,0,"transparent");
					this.drawRect(this.ctx,size,0,size,size,this.basicColor,0,"transparent");
					this.drawRect(this.ctx,0,size,size,size,this.basicColor,0,"transparent");
					this.drawRect(this.ctx,size,size,size,size,"white",0,"transparent");
					var img = new Image();
					img.src = this.canvas.toDataURL();
					img.onload = function(){
						_this.canvas.width=_this.width
						_this.canvas.height=_this.height
					    var pattern = _this.ctx.createPattern(img, "repeat");
					    _this.ctx.fillStyle = pattern;
					    _this.ctx.fillRect(0,0,_this.width,_this.height);
					}
				},
				drawRect(ctx, x, y, width, height, fillColor, borderWidth, borderColor){
			        ctx.beginPath();
			        ctx.rect(x, y, width, height);
			        ctx.lineWidth = borderWidth;
			        ctx.strokeStyle = borderColor;
			        ctx.fillStyle = fillColor;
			        ctx.fill();
			        ctx.stroke();
				}
			}
		})
	</script>
</body>
</html>